.sidebar {  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  transform-origin: left center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 70px;
}
.sidebar_isopen {
  width: 200px;
  background-color: #ffd23e;
  opacity: 1;
}
.sidebar_isclose {
  width: 50px;
  background-color: #ffc400;
  opacity: 0.8;
}
.logo_toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_name {
  color: #ff5722;
}
.isactive {
  color: rgb(172, 172, 172);
  font-size: 14px;
  border-right: 3px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  background-color: #fff8e168;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;
}
.isactive:hover{
  color: rgb(172, 172, 172);
}

.isnotactive {
  color: rgb(245, 131, 0);
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.5s ease ;

}
.isnotactive:hover{
  color: rgb(172, 172, 172);
  border-right: 3px solid rgb(255, 255, 255);
  background-color: #fff8e168;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}
